<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/error-404s/error-404-1/assets/css/error-404-1.css">

<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                        <span class="display-1 fw-bold">5</span>
                        <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                        <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                    </h2>
                    <h3 class="h2 mb-2">Internal Server Error</h3>
                    <p class="mb-5">The server encountered an internal error.</p>
                </div>
            </div>
        </div>
    </div>
</section>